<ng-container *transloco="let t">
  <div class="root">
    <mat-card class="card">
      <mat-card-content class="card-content">
        <button mat-flat-button class="logo-button">
          <mat-icon>local_fire_department</mat-icon>
          <span>ScrumPokerFire</span>
        </button>
        <h2>{{ t('AUTH_WELCOME_TEXT') }}</h2>
        <h3>{{ t('AUTH_SIGN_IN_TEXT') }}</h3>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button aria-label="Sign in button" color="primary" class="sign-in-button" (click)="authService.signIn()">
          <span>{{ t('SIGN_IN_BUTTON_TEXT') }}</span>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-container>
