@import 'includes';

.card {
  overflow: auto;
}

.card-header {
  margin-bottom: 1rem;
  justify-content: space-between;

  @include belowSmallMedium {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.header-text {
  margin-top: 4px;
  margin-bottom: 0 !important;

  @include belowSmallMedium {
    margin-bottom: 1rem !important;
  }
}

.header-button-container {
  margin: 0 16px;

  @include belowSmallMedium {
    margin-bottom: 1rem;
  }
}

.header-button {
  color: white;
  width: 100%;
  min-width: 0;
}

.card-content-placeholder {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.button-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-text {
  margin-left: 4px;
}
