<ng-container *transloco="let transloco">
  <h2 mat-dialog-title>{{ data.title }}</h2>
  <mat-dialog-content class="mat-typography" *ngIf="data.content">
    <p>{{ data.content }}</p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="action-button">{{ data.cancelButtonText || transloco(cancelButtonDefaultTextCode) }}</button>
    <button mat-button [mat-dialog-close]="true" [color]="data.confirmButtonColor" class="action-button">{{ data.confirmButtonText }}</button>
  </mat-dialog-actions>
</ng-container>
