.card {
  max-width: 310px;
  padding: 1.5rem;
  text-align: center;

  &--signing-in {
    padding-bottom: 1.3rem;
  }
}

.card-content {
  margin-left: 16px;
  margin-right: 16px;
}

.logo-button {
  min-height: 50px;
  font-size: 32px;
  cursor: text;
  padding: 0;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
}

.spinner {
  margin: 0 auto;
}

.sign-in-button {
  width: 89%;
  min-height: 50px;
  margin-left: 16px !important;
  margin-right: 16px !important;
  margin-bottom: 16px !important;
}
