.card {
  max-width: 350px;
  padding: 24px;
  text-align: center;

  &.signing-in {
    padding-bottom: 21px;
  }
}

.mat-mdc-card-content:first-child {
  padding-top: 8px;
}

.bottom-text {
  margin-bottom: 16px !important;
}

.spinner {
  margin: 0 auto;
}

.card-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-in-button {
  width: 89%;
  min-height: 50px;
}
