<ng-container *transloco="let transloco">
  <ng-container *ngIf="!authService.user">
    <mat-card appearance="outlined" class="card" [class.signing-in]="authService.isSigningIn">
      <mat-card-content>
        <ng-container *ngIf="!authService.isSigningIn">
          <h2>{{ transloco('AUTH_WELCOME_TEXT') }}</h2>

          <h3 class="bottom-text">{{ transloco('AUTH_SIGN_IN_TEXT') }}</h3>
        </ng-container>

        <ng-container *ngIf="authService.isSigningIn">
          <ng-container *ngIf="authService.isWaitingPopUp">
            <h3>{{ transloco('AUTH_POP_UP_TEXT') }}</h3>

            <h3 class="bottom-text">{{ transloco('AUTH_ALLOW_POP_UP_TEXT') }}</h3>
          </ng-container>

          <mat-spinner class="spinner" [diameter]="40"></mat-spinner>
        </ng-container>
      </mat-card-content>

      <mat-card-actions *ngIf="!authService.isSigningIn" class="card-actions">
        <button mat-raised-button aria-label="Sign in button" color="primary" class="sign-in-button" (click)="signIn()">
          <span>{{ transloco('SIGN_IN_BUTTON_TEXT') }}</span>
        </button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</ng-container>
