<div class="sidenav-overlay" *ngIf="shouldDisplayOverlay" (click)="toggle()"></div>
<button mat-mini-fab *ngIf="shouldDisplayMenuButton" class="sidenav-button open" color="primary"
  aria-label="Open sidenav" (click)="toggle()">
  <mat-icon>menu</mat-icon>
</button>
<div class="sidenav" [@slide]="sidenavService.sidenavState">
  <button mat-icon-button class="sidenav-button close" aria-label="Close sidenav" (click)="toggle()">
    <mat-icon>east</mat-icon>
  </button>
  <ng-content></ng-content>
</div>
