@import 'includes';

.sidenav {
  height: calc(100% - #{$toolbar-height});
  top: calc(0% + #{$toolbar-height});
  width: $sidenav-width;
  position: fixed;
  right: 0%;
  z-index: 98;
  background-color: white;

  @include belowSmallMedium {
    height: calc(100% - #{$toolbar-height-below-small-medium});
    top: calc(0% + #{$toolbar-height-below-small-medium});
    width: 100%;
  }
}

.sidenav-button {
  position: fixed;

  &.open {
    z-index: 97;
    top: calc(32px + #{$toolbar-height});
    right: 32px;

    @include belowSmallMedium {
      top: calc(32px + #{$toolbar-height-below-small-medium});
    }
  }

  &.close {
    z-index: 99;
    bottom: 8px;
    left: 8px;
    color: white;

    @include fromSmallMedium {
      display: none;
    }
  }
}

.sidenav-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.32);
  z-index: 96;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
