@import 'includes';

.content-width {
  width: calc(100% - #{$sidenav-width});

  @include belowMediumLarge {
    width: 100%;
  }
}

.main-content {
  height: calc(100% - #{$cards-container-height} - #{$toolbar-height});
  overflow: auto;

  @include belowSmallMedium {
    height: calc(100% - #{$cards-container-height} - #{$toolbar-height-below-small-medium});
  }

  &.game-not-started {
    height: calc(100% - #{$toolbar-height});
  }
}

.content-container {
  padding: 2rem;
}

.large-flex {
  @include fromLarge {
    display: flex;
  }
}

.content-header-buttons-container {
  @include fromMediumLarge {
    justify-content: space-between;
  }
}

.content-buttons-container {
  margin-bottom: 8px;
}

.button-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-text {
  margin-left: 4px;
}

.buttons-container {
  display: flex;
  margin-bottom: 1rem;
}

.votes-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column-gap: 1rem;
  margin-top: 2rem;
}

.vote {
  width: $card-small-width;
  margin-bottom: 1rem;
}

.stories-container {
  background-color: #f1f1f1;
  overflow: auto;

  height: calc(100% - 36px);

  &.is-host {
    height: calc(100% - #{$cards-container-height} - 37px);

    @include belowSmallMedium {
      height: calc(100% - 200px);
    }
  }
}

.story-padding {
  padding: 8px 1rem;
}

.story {
  display: grid;
  grid-template-columns: 1fr 8fr 3fr;
  grid-column-gap: 8px;
  font-weight: 500;
  background-color: #fcfcfc;

  @extend .story-padding;

  &:nth-child(even) {
    background-color: inherit;
  }

  &.header {
    color: white;
    background-color: #707070;
  }

  &.active {
    color: white;
    background-color: #673ab7;
  }

  &.interactive {
    cursor: pointer;
  }
}

.story-column {
  overflow: hidden;
  text-overflow: ellipsis;

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }
}

.player-name {
  text-align: center;
  margin-top: 8px;
}

.text {
  font-size: 1.5rem;
}

.story-name {
  margin-bottom: 1rem;
}

.loading-container {
  height: 87vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.error-container {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.cards-container {
  height: $cards-container-height;
  position: fixed;
  bottom: 0;
  overflow-x: auto;
  overflow-y: hidden;
  border-top: 1px solid lightgrey;
}

.card {
  position: absolute;
  top: 20px;
  transition: all 0.2s ease-in-out;

  &.selected {
    transform: scale(1.1);
  }

  &:hover {
    z-index: 90 !important;
    transform: scale(1.2);
  }

  &:first-child {
    margin-left: $card-margin !important;
  }
}

.mat-drawer-side {
  border: none;
}

.button {
  color: white;
  min-width: 0;

  &.margin {
    margin-right: 1rem;
  }

  &.full-width {
    width: 100%;

    &.full-width-margin {
      margin-bottom: 1rem;
    }
  }
}

.sidenav-content {
  height: 100%;
}

.sidenav-buttons {
  padding: 1rem;
  background-color: #505050;
  height: 100%;
}

.users-arrived-container {
  margin-top: 2rem;
}

.user-arrived-text {
  font-size: 1rem;
}

.users-menu-item-content {
  display: flex;
  align-items: center;
}
