@import 'includes';

.toolbar {
  position: relative;
  z-index: 100;
}

.home-button {
  font-size: 20px;
  padding: 0;
  margin-left: 1rem;
  min-width: 0;
}

.home-button-text {
  @include belowSmallMedium {
    display: none;
  }
}

.spacer {
  flex: 1 1 auto;
}

.github-link-container {
  margin-right: 1.5rem;
  width: 26px;
  height: 26px;

  @include belowVerySmall {
    display: none;
  }
}

.github-link {
  width: 100%;
  cursor: pointer;
}

.github-menu-item {
  @include fromVerySmall {
    display: none;
  }
}

.avatar-container {
  padding-right: 1.25rem;
}

.avatar-button {
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;

  &.info {
    margin-right: 10px;
  }
}

.user-info {
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.display-name {
  font-size: 16px;
}

::ng-deep .mat-menu-content {
  padding-top: 1rem !important;
}

.menu-divider {
  margin-top: 1rem;
  margin-bottom: 0.3rem;
}
