.table {
  width: 100%;
}

.card-header {
  margin-bottom: 0.5rem;
}

.card-content-placeholder {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.mat-form-field {
  font-size: 14px;
  width: 98.5%;
  margin-left: 1rem;
}
