<ng-progress [spinner]="false"></ng-progress>

<ng-container *ngIf="isLoading">
  <app-loading-component></app-loading-component>
</ng-container>

<ng-container *ngIf="!isLoading && hasError">
  <app-error-component></app-error-component>
</ng-container>

<ng-container *ngIf="!isLoading && !hasError">
  <app-toolbar-component [user]="user"></app-toolbar-component>
  <ng-container *ngIf="isLoadingContent">
    <div class="loading-container">
      <app-loading-component [center]="false" [size]="'medium'"></app-loading-component>
    </div>
  </ng-container>
  <ng-container *ngIf="!isLoadingContent">
    <router-outlet></router-outlet>
  </ng-container>
</ng-container>
