@use '@angular/material' as ng-material;

@include ng-material.all-component-typographies();
@include ng-material.core();

$app-primary: ng-material.m2-define-palette(ng-material.$m2-deep-purple-palette);
$app-accent: ng-material.m2-define-palette(ng-material.$m2-green-palette);
$app-warn: ng-material.m2-define-palette(ng-material.$m2-red-palette);

$app-theme: ng-material.m2-define-light-theme(
  (
    color: (
      primary: $app-primary,
      accent: $app-accent,
      warn: $app-warn,
    ),
  )
);

$primary: ng-material.m2-get-color-from-palette($app-primary);
$accent: ng-material.m2-get-color-from-palette($app-accent);
$warn: ng-material.m2-get-color-from-palette($app-warn);

@include ng-material.all-component-themes($app-theme);
