@use '~@angular/material' as ng-material;

@include ng-material.core();

$app-primary: ng-material.define-palette(ng-material.$deep-purple-palette);
$app-accent: ng-material.define-palette(ng-material.$green-palette);
$app-warn: ng-material.define-palette(ng-material.$red-palette);

$app-theme: ng-material.define-light-theme(
  (
    color: (
      primary: $app-primary,
      accent: $app-accent,
      warn: $app-warn
    )
  )
);

$primary: ng-material.get-color-from-palette($app-primary);
$accent: ng-material.get-color-from-palette($app-accent);
$warn: ng-material.get-color-from-palette($app-warn);

@include ng-material.all-component-themes($app-theme);
