/* BREAKPOINTS */
$bp-very-small: 240px;
$bp-toolbar: 280px;
$bp-small: 370px;
$bp-card: 412px;
$bp-small-medium: 600px;
$bp-home: 696px;
$bp-medium: 768px;
$bp-medium-large: 992px;
$bp-large: 1260px;
$height-medium-large: 800px;
