@import 'includes';

.cancel-button {
  &:hover {
    background-color: whitesmoke;
  }
}

.confirm-button {
  &--primary {
    color: $primary;

    &:hover {
      color: white;
      background-color: $primary;
    }
  }

  &--accent {
    color: $accent;

    &:hover {
      color: white;
      background-color: $accent;
    }
  }

  &--warn {
    color: $warn;

    &:hover {
      color: white;
      background-color: $warn;
    }
  }
}
