.action-button {
  &:hover:enabled {
    background-color: whitesmoke;
  }
}

.mat-mdc-form-field {
  width: 100%;
}

.radio-button {
  margin-right: 12px;
}

.radio-button-card-set {
  display: block;
  margin-bottom: 8px;
}

.radio-container {
  margin-bottom: 16px;
}

.radio-label {
  display: block;
  margin-bottom: 12px;
}

.content {
  margin-right: 0 !important;
}
