.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.radio-button {
  margin-right: 12px;
}

.radio-button-card-set {
  display: block;
  margin-bottom: 1rem;
}

.radio-container {
  margin-bottom: 1.5rem;
}

.radio-label {
  display: block;
  margin-bottom: 12px;
}
